# 1. Reading data table 1 from website

In [2]:
# activating pandas
import pandas as pd

In [3]:
# scraping
from IPython.display import IFrame  
wikiLink="https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)" 
IFrame(wikiLink, width=1000, height=300)

In [4]:
!pip install html5lib
!pip install lxml
!pip install beautifulsoup4

Requirement already satisfied: html5lib in d:\software2\anaconda3\anaconda\lib\site-packages (1.1)
Requirement already satisfied: webencodings in d:\software2\anaconda3\anaconda\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in d:\software2\anaconda3\anaconda\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: lxml in d:\software2\anaconda3\anaconda\lib\site-packages (4.6.3)
Requirement already satisfied: beautifulsoup4 in d:\software2\anaconda3\anaconda\lib\site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in d:\software2\anaconda3\anaconda\lib\site-packages (from beautifulsoup4) (2.2.1)

In [5]:
DataWiki=pd.read_html(wikiLink,header=0,flavor='bs4',attrs={'class': 'wikitable'})

In [6]:
type(DataWiki)

list

In [7]:
len(DataWiki)

1

In [8]:
DataWiki[0]

,Country/Territory,Subregion,Region,IMF[1],IMF[1].1,United Nations[12],United Nations[12].1,World Bank[13][14],World Bank[13][14].1
0,Country/Territory,Subregion,Region,Estimate,Year,Estimate,Year,Estimate,Year
1,United States,Northern America,Americas,22939580,2021,20893746,2020,20936600,2020
2,China,Eastern Asia,Asia,16862979,[n 2]2021,14722801,[n 3]2020,14722731,2020
3,Japan,Eastern Asia,Asia,5103110,2021,5057759,2020,4975415,2020
4,Germany,Western Europe,Europe,4230172,2021,3846414,2020,3806060,2020
...,...,...,...,...,...,...,...,...,...
212,Kiribati,Micronesia,Oceania,232,2021,181,2020,200,2020
213,Palau,Micronesia,Oceania,208,2021,264,2020,268,2019
214,Nauru,Micronesia,Oceania,133,2021,135,2020,118,2019
215,Montserrat,Caribbean,Americas,NaN,NaN,68,2020,NaN,NaN
216,Tuvalu,Polynesia,Oceania,65,2021,55,2020,49,2020

In [9]:
# Cleaning the data

In [10]:
DF=DataWiki[0]
type(DF)

pandas.core.frame.DataFrame

In [11]:
countryDemo1=DF.copy()
type(countryDemo1)

pandas.core.frame.DataFrame

In [12]:
countryDemo1.head()

,Country/Territory,Subregion,Region,IMF[1],IMF[1].1,United Nations[12],United Nations[12].1,World Bank[13][14],World Bank[13][14].1
0,Country/Territory,Subregion,Region,Estimate,Year,Estimate,Year,Estimate,Year
1,United States,Northern America,Americas,22939580,2021,20893746,2020,20936600,2020
2,China,Eastern Asia,Asia,16862979,[n 2]2021,14722801,[n 3]2020,14722731,2020
3,Japan,Eastern Asia,Asia,5103110,2021,5057759,2020,4975415,2020
4,Germany,Western Europe,Europe,4230172,2021,3846414,2020,3806060,2020

In [13]:
#column positions to drop
whichToDrop=[3,4,5,6,7,8]

#dropping and updating the data frame
countryDemo1.drop(labels=countryDemo1.columns[whichToDrop],axis=1,inplace=True)

countryDemo1

     Country/Territory         Subregion    Region
0    Country/Territory         Subregion    Region
1        United States  Northern America  Americas
2                China      Eastern Asia      Asia
3                Japan      Eastern Asia      Asia
4              Germany    Western Europe    Europe
..                 ...               ...       ...
212           Kiribati        Micronesia   Oceania
213              Palau        Micronesia   Oceania
214              Nauru        Micronesia   Oceania
215         Montserrat         Caribbean  Americas
216             Tuvalu         Polynesia   Oceania

[217 rows x 3 columns]

In [14]:
# Dropping the first row
countryDemo1.drop(countryDemo1.index[0], inplace=True)

In [15]:
# all columns
countryDemo1.columns=['Country', 'Subregion', 'Region']
#see changes:
countryDemo1.head()

          Country         Subregion    Region
1   United States  Northern America  Americas
2           China      Eastern Asia      Asia
3           Japan      Eastern Asia      Asia
4         Germany    Western Europe    Europe
5  United Kingdom   Northern Europe    Europe

In [16]:
# check country names
countryDemo1.Country[1]

'United States'

In [17]:
# index 0 is missing 
# reset the indexes of the data frame:

# new indexes will appear
countryDemo1.reset_index(drop=True,inplace=True)

In [18]:
countryDemo1.Country[0]

'United States'

In [19]:
# no trailing nor leading spaces:
countryDemo1['Country']=countryDemo1.Country.str.strip()

In [20]:
# apply them to all columns
byeSpaces= lambda COLUMN:COLUMN.str.strip()

countryDemo1.apply(byeSpaces)

            Country         Subregion    Region
0     United States  Northern America  Americas
1             China      Eastern Asia      Asia
2             Japan      Eastern Asia      Asia
3           Germany    Western Europe    Europe
4    United Kingdom   Northern Europe    Europe
..              ...               ...       ...
211        Kiribati        Micronesia   Oceania
212           Palau        Micronesia   Oceania
213           Nauru        Micronesia   Oceania
214      Montserrat         Caribbean  Americas
215          Tuvalu         Polynesia   Oceania

[216 rows x 3 columns]

In [21]:
# save the result
countryDemo1=countryDemo1.apply(byeSpaces)

In [45]:
countryDemo1.head()

          Country         Subregion    Region
0   United States  Northern America  Americas
1           China      Eastern Asia      Asia
2           Japan      Eastern Asia      Asia
3         Germany    Western Europe    Europe
4  United Kingdom   Northern Europe    Europe

In [47]:
#clean content
# frequency table using "value_counts"
countryDemo1['Subregion'].value_counts()
countryDemo1['Region'].value_counts()

Africa      55
Asia        51
Americas    46
Europe      44
Oceania     20
Name: Region, dtype: int64

# 2. Reading data table from files downloaded

In [22]:
!pip install xlrd
!pip install openpyxl

Requirement already satisfied: xlrd in d:\software2\anaconda3\anaconda\lib\site-packages (2.0.1)
Requirement already satisfied: openpyxl in d:\software2\anaconda3\anaconda\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in d:\software2\anaconda3\anaconda\lib\site-packages (from openpyxl) (1.1.0)

In [23]:
cloudLocation_AllMyFiles='https://raw.githubusercontent.com/ksyanyu/542/main/'

linkToEXCEL_FileTotal=cloudLocation_AllMyFiles+'plastic-waste-generation-total.csv'
linkToEXCEL_FileCapita=cloudLocation_AllMyFiles+'plastic-waste-per-capita.csv'
linkToEXCEL_FileMismanaged=cloudLocation_AllMyFiles+'mismanaged-waste-global-total.csv' # '+' concatenates text.
linkToEXCEL_FileMismanagedFuture=cloudLocation_AllMyFiles+'share-mismanaged-waste-in-2025.csv'

In [24]:
dfExcelTotal=pd.read_csv(linkToEXCEL_FileTotal)
dfExcelCapita=pd.read_csv(linkToEXCEL_FileCapita)
dfExcelMismanaged=pd.read_csv(linkToEXCEL_FileMismanaged)
dfExcelMismanagedFuture=pd.read_csv(linkToEXCEL_FileMismanagedFuture)

In [25]:
dfExcelTotal.head()

                Entity Code  Year  Plastic waste generation (tonnes, total)
0              Albania  ALB  2010                                     73364
1              Algeria  DZA  2010                                   1898343
2               Angola  AGO  2010                                    528843
3  Antigua and Barbuda  ATG  2010                                     22804
4            Argentina  ARG  2010                                   2753550

In [26]:
dfExcelTotal.tail()

        Entity Code  Year  Plastic waste generation (tonnes, total)
163    Uruguay  URY  2010                                    310379
164    Vanuatu  VUT  2010                                     25443
165  Venezuela  VEN  2010                                   2669998
166    Vietnam  VNM  2010                                   3268227
167      Yemen  YEM  2010                                    887497

In [27]:
# Cleaning the data

In [28]:
# Rename the colomns                   
dfExcelTotal.rename(columns={'Entity':'Country'}, inplace=True)

In [29]:
dfExcelCapita.rename(columns={'Entity':'Country'}, inplace=True) 
dfExcelMismanaged.rename(columns={'Entity':'Country'}, inplace=True) 
dfExcelMismanagedFuture.rename(columns={'Entity':'Country'}, inplace=True)

In [30]:
dfExcelTotal.head()

               Country Code  Year  Plastic waste generation (tonnes, total)
0              Albania  ALB  2010                                     73364
1              Algeria  DZA  2010                                   1898343
2               Angola  AGO  2010                                    528843
3  Antigua and Barbuda  ATG  2010                                     22804
4            Argentina  ARG  2010                                   2753550

In [31]:
# chean the dashes
# using pandas own replace function
dfExcelTotal.columns=dfExcelTotal.columns.str.replace("\s|\xad","",regex=True)

# current colum names
dfExcelTotal.columns

Index(['Country', 'Code', 'Year', 'Plasticwastegeneration(tonnes,total)'], dtype='object')

In [36]:
dfExcelTotal.rename(columns={'Plasticwastegeneration':'Plasticwastegeneration(tonnes)'}, inplace=True) 
dfExcelTotal.columns

Index(['Country', 'Code', 'Year', 'Plasticwastegeneration(tonnes)'], dtype='object')

In [38]:
dfExcelCapita.Capita=dfExcelCapita.columns.str.replace("\s|\xad","",regex=True)

# current colum names
dfExcelCapita.columns

C:\Users\Public\Documents\Wondershare\CreatorTemp/ipykernel_8204/2514018277.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  dfExcelCapita.Capita=dfExcelCapita.columns.str.replace("\s|\xad","",regex=True)

Index(['Country', 'Code', 'Year', 'Percapitaplasticwaste(kg/person/day)'], dtype='object')

In [39]:
dfExcelMismanaged.columns=dfExcelMismanaged.columns.str.replace("\s|\xad","",regex=True)

# current colum names
dfExcelMismanaged.columns

Index(['Country', 'Code', 'Year', 'Mismanagedwaste(%globaltotal)'], dtype='object')

In [40]:
dfExcelMismanaged.head()

               Country Code  Year  Mismanagedwaste(%globaltotal)
0              Albania  ALB  2010                         0.0933
1              Algeria  DZA  2010                         1.6347
2               Angola  AGO  2010                         0.1964
3             Anguilla  AIA  2010                         0.0002
4  Antigua and Barbuda  ATG  2010                         0.0039

In [41]:
dfExcelMismanaged.rename(columns={'Mismanagedwaste(%globaltotal)':'Mismanagedwaste(percent)'}, inplace=True) 
dfExcelMismanaged.columns

Index(['Country', 'Code', 'Year', 'Mismanagedwaste(percent)'], dtype='object')

In [42]:
dfExcelMismanagedFuture.columns=dfExcelMismanagedFuture.columns.str.replace("\s|\xad","",regex=True)

# current colum names
dfExcelMismanagedFuture.columns

Index(['Country', 'Code', 'Year', 'Mismanagedwastein2025(%globaltotal)'], dtype='object')

In [43]:
dfExcelMismanagedFuture.rename(columns={'Mismanagedwastein2025(%globaltotal)':'Mismanagedwaste2025(percent)'}, inplace=True) 
dfExcelMismanagedFuture.columns

Index(['Country', 'Code', 'Year', 'Mismanagedwaste2025(percent)'], dtype='object')

In [54]:
dfExcelMismanaged.shape

(186, 4)

# 3. Integrating the tables

In [80]:
# want to keep all the rows, matched and unmatched, from both data frames
# merge 'outer' keeps all matched and unmatched
# merge 'indicator' will tell you if the key was found in 'both' or only in one of them
allData1=dfExcelCapita.merge(dfExcelTotal,left_on=["Country", "Code", "Year"], right_on=["Country", "Code", "Year"],how='outer')

In [81]:
allData1

,Country,Code,Year,Percapitaplasticwaste(kg/person/day),Plasticwastegeneration(tonnes)
0,Albania,ALB,2010,0.069,73364.0
1,Algeria,DZA,2010,0.144,1898343.0
2,Angola,AGO,2010,0.062,528843.0
3,Anguilla,AIA,2010,0.252,NaN
4,Antigua and Barbuda,ATG,2010,0.660,22804.0
...,...,...,...,...,...
181,Uruguay,URY,2010,0.252,310379.0
182,Vanuatu,VUT,2010,0.295,25443.0
183,Venezuela,VEN,2010,0.252,2669998.0
184,Vietnam,VNM,2010,0.103,3268227.0
185,Yemen,YEM,2010,0.103,887497.0

In [68]:
dfExcelTotal.columns

Index(['Country', 'Code', 'Year', 'Plasticwastegeneration(tonnes)'], dtype='object')

In [69]:
dfExcelCapita.columns

Index(['Country', 'Code', 'Year', 'Percapitaplasticwaste(kg/person/day)'], dtype='object')

In [70]:
dfExcelMismanaged.columns

Index(['Country', 'Code', 'Year', 'Mismanagedwaste(percent)'], dtype='object')

In [71]:
dfExcelMismanagedFuture.columns

Index(['Country', 'Code', 'Year', 'Mismanagedwaste2025(percent)'], dtype='object')

In [82]:
allData2=pd.merge(allData1, dfExcelMismanaged, on=['Country', 'Code', 'Year'], how='outer')

In [84]:
allData2

,Country,Code,Year,Percapitaplasticwaste(kg/person/day),Plasticwastegeneration(tonnes),Mismanagedwaste(percent)
0,Albania,ALB,2010,0.069,73364.0,0.0933
1,Algeria,DZA,2010,0.144,1898343.0,1.6347
2,Angola,AGO,2010,0.062,528843.0,0.1964
3,Anguilla,AIA,2010,0.252,NaN,0.0002
4,Antigua and Barbuda,ATG,2010,0.660,22804.0,0.0039
...,...,...,...,...,...,...
181,Uruguay,URY,2010,0.252,310379.0,0.0677
182,Vanuatu,VUT,2010,0.295,25443.0,0.0706
183,Venezuela,VEN,2010,0.252,2669998.0,0.3214
184,Vietnam,VNM,2010,0.103,3268227.0,5.7588
185,Yemen,YEM,2010,0.103,887497.0,0.5310

In [85]:
allData3=pd.merge(allData2, dfExcelMismanagedFuture, on=['Country', 'Code', 'Year'], how='outer')

In [86]:
allData3

,Country,Code,Year,Percapitaplasticwaste(kg/person/day),Plasticwastegeneration(tonnes),Mismanagedwaste(percent),Mismanagedwaste2025(percent)
0,Albania,ALB,2010,0.069,73364.0,0.0933,0.0913
1,Algeria,DZA,2010,0.144,1898343.0,1.6347,1.4729
2,Angola,AGO,2010,0.062,528843.0,0.1964,0.1980
3,Anguilla,AIA,2010,0.252,NaN,0.0002,0.0001
4,Antigua and Barbuda,ATG,2010,0.660,22804.0,0.0039,0.0020
...,...,...,...,...,...,...,...
181,Uruguay,URY,2010,0.252,310379.0,0.0677,0.0116
182,Vanuatu,VUT,2010,0.295,25443.0,0.0706,0.0550
183,Venezuela,VEN,2010,0.252,2669998.0,0.3214,0.2233
184,Vietnam,VNM,2010,0.103,3268227.0,5.7588,6.0407
185,Yemen,YEM,2010,0.103,887497.0,0.5310,0.7440

In [88]:
allData4=allData3.merge(countryDemo1,left_on="Country", right_on="Country",how='outer', indicator='True')

In [89]:
# explore matched and unmatched counts:
allData4['True'].value_counts()

both          162
right_only     54
left_only      24
Name: True, dtype: int64

In [95]:
allData4[allData4['True']=='left_only'].Country

26                  Channel Islands
29                 Christmas Island
30                    Cocos Islands
36                    Cote d'Ivoire
39                          Curacao
41     Democratic Republic of Congo
52                   Faeroe Islands
53                 Falkland Islands
57                    French Guiana
64                        Gibraltar
68                       Guadeloupe
71                         Guernsey
97                            Macao
103                      Martinique
107            Micronesia (country)
117            Netherlands Antilles
122                            Niue
123                  Norfolk Island
139                         Reunion
142                    Saint Helena
145       Saint Pierre and Miquelon
148           Sao Tome and Principe
154       Sint Maarten (Dutch part)
170                         Tokelau
Name: Country, dtype: object

In [96]:
allData4[allData4['True']=='right_only'].Country

186                 Switzerland
187                     Austria
188              Czech Republic
189                  Kazakhstan
190                     Hungary
191                    Slovakia
192                    Ethiopia
193                  Luxembourg
194                 Ivory Coast
195                     Belarus
196                  Uzbekistan
197                      Serbia
198                    DR Congo
199                Turkmenistan
200                  Azerbaijan
201                      Uganda
202                     Bolivia
203                    Paraguay
204                       Nepal
205                       Macau
206                    Zimbabwe
207                      Zambia
208                 Afghanistan
209                Burkina Faso
210                        Mali
211                        Laos
212                    Botswana
213                       Niger
214                    Mongolia
215             North Macedonia
216                     Armenia
217                     Moldova
218                        Chad
219                      Malawi
220                      Rwanda
221                      Kosovo
222                  Kyrgyzstan
223                  Tajikistan
224               Liechtenstein
225                    Eswatini
226                 South Sudan
227                     Andorra
228                     Burundi
229                     CuraÃ§ao
230    Central African Republic
231                      Bhutan
232                     Lesotho
233                  San Marino
234                    Zanzibar
235                  East Timor
236                Sint Maarten
237              American Samoa
238       SÃ£o TomÃ© and PrÃ­ncipe
239                  Micronesia
Name: Country, dtype: object

In [97]:
# The countries unmatched
UnmatchedLeft=allData4[allData4['True']=='left_only'].Country.to_list()
UnmatchedRight=allData4[allData4['True']=='right_only'].Country.to_list()

In [99]:
UnmatchedLeft[0]

'Channel Islands'

In [102]:
# The first tool we need is another library allows fuzzy merging: TheFuzz.
# The library has two functions of interest:extractOne and extract.
# install the fuzz
!pip install thefuzz

Collecting thefuzz
  Downloading thefuzz-0.19.0-py2.py3-none-any.whl (17 kB)
Installing collected packages: thefuzz
Successfully installed thefuzz-0.19.0

In [103]:
from thefuzz import process
process.extractOne(UnmatchedLeft[0], UnmatchedRight)

D:\Software2\Anaconda3\Anaconda\lib\site-packages\thefuzz\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

('Chad', 68)

In [104]:
#  find the three best matches from the country data
process.extract(UnmatchedLeft[0], UnmatchedRight,limit=3)

[('Chad', 68), ('Nepal', 54), ('Afghanistan', 54)]

In [105]:
# so no matching

In [106]:
[(left, process.extractOne(left, UnmatchedRight)) for left in sorted(UnmatchedLeft)]

[('Channel Islands', ('Chad', 68)),
 ('Christmas Island', ('Tajikistan', 54)),
 ('Cocos Islands', ('Switzerland', 50)),
 ("Cote d'Ivoire", ('Ivory Coast', 64)),
 ('Curacao', ('CuraÃ§ao', 92)),
 ('Democratic Republic of Congo', ('Czech Republic', 86)),
 ('Faeroe Islands', ('San Marino', 55)),
 ('Falkland Islands', ('Afghanistan', 52)),
 ('French Guiana', ('Uganda', 66)),
 ('Gibraltar', ('Belarus', 50)),
 ('Guadeloupe', ('Uganda', 45)),
 ('Guernsey', ('Niger', 54)),
 ('Macao', ('Macau', 80)),
 ('Martinique', ('Eswatini', 56)),
 ('Micronesia (country)', ('Micronesia', 90)),
 ('Netherlands Antilles', ('Uganda', 60)),
 ('Niue', ('Niger', 67)),
 ('Norfolk Island', ('Andorra', 61)),
 ('Reunion', ('Armenia', 57)),
 ('Saint Helena', ('Sint Maarten', 58)),
 ('Saint Pierre and Miquelon', ('Eswatini', 57)),
 ('Sao Tome and Principe', ('SÃ£o TomÃ© and PrÃ­ncipe', 92)),
 ('Sint Maarten (Dutch part)', ('Sint Maarten', 90)),
 ('Tokelau', ('Belarus', 57))]

In [110]:
# These are totally wrong matches
# this is a list of tuples:
TotallyWrong=[('Channel Islands', ('Chad', 68)),
              ('Christmas Island', ('Tajikistan', 54)),
              ('Cocos Islands', ('Switzerland', 50)),
              ('Democratic Republic of Congo', ('Czech Republic', 86)),
              ('Faeroe Islands', ('San Marino', 55)),
              ('Falkland Islands', ('Afghanistan', 52)),
              ('French Guiana', ('Uganda', 66)),
              ('Gibraltar', ('Belarus', 50)),
              ('Guadeloupe', ('Uganda', 45)),
              ('Guernsey', ('Niger', 54)),
              ('Martinique', ('Eswatini', 56)),
              ('Micronesia (country)', ('Micronesia', 90)),
              ('Netherlands Antilles', ('Uganda', 60)),
              ('Niue', ('Niger', 67)),
              ('Norfolk Island', ('Andorra', 61)),
              ('Reunion', ('Armenia', 57)),
              ('Saint Helena', ('Sint Maarten', 58)),
              ('Saint Pierre and Miquelon', ('Eswatini', 57)),
              ('Tokelau', ('Belarus', 57))]

In [111]:
omitLeft=[leftName for (leftName,rightFuzzy) in TotallyWrong] #parenthesis not needed
omitLeft

['Channel Islands',
 'Christmas Island',
 'Cocos Islands',
 'Democratic Republic of Congo',
 'Faeroe Islands',
 'Falkland Islands',
 'French Guiana',
 'Gibraltar',
 'Guadeloupe',
 'Guernsey',
 'Martinique',
 'Micronesia (country)',
 'Netherlands Antilles',
 'Niue',
 'Norfolk Island',
 'Reunion',
 'Saint Helena',
 'Saint Pierre and Miquelon',
 'Tokelau']

In [112]:
# process.extractOne(left, UnmatchedRight)[0] IS JUST THE COUNTRY NAME TO THE RIGHT
# [0] just took first element in tuple.

# left for left in UnmatchedLeft IS JUST EVERY COUNTRY NAME TO THE LEFT

# if left not in omitLeft IS A CONDITION

{process.extractOne(left, UnmatchedRight)[0]:left for left in UnmatchedLeft if left not in omitLeft}

{'Ivory Coast': "Cote d'Ivoire",
 'CuraÃ§ao': 'Curacao',
 'Macau': 'Macao',
 'SÃ£o TomÃ© and PrÃ­ncipe': 'Sao Tome and Principe',
 'Sint Maarten': 'Sint Maarten (Dutch part)'}

In [116]:
# save the dict above and use it to replace
changesRight={process.extractOne(left, UnmatchedRight)[0]:left for left in UnmatchedLeft if left not in omitLeft}
countryDemo1.Country.replace(changesRight,inplace=True)

In [ ]:
# Then redo the merging with full coincidences (option 1):

In [115]:
countryDemo1

            Country         Subregion    Region
0     United States  Northern America  Americas
1             China      Eastern Asia      Asia
2             Japan      Eastern Asia      Asia
3           Germany    Western Europe    Europe
4    United Kingdom   Northern Europe    Europe
..              ...               ...       ...
211        Kiribati        Micronesia   Oceania
212           Palau        Micronesia   Oceania
213           Nauru        Micronesia   Oceania
214      Montserrat         Caribbean  Americas
215          Tuvalu         Polynesia   Oceania

[216 rows x 3 columns]

In [120]:
# redoing merge
allData=allData3.merge(countryDemo1,left_on="Country",right_on="Country")

# current dimension
allData.shape

(167, 9)

In [118]:
allData4.shape

(240, 10)

In [121]:
allData

,Country,Code,Year,Percapitaplasticwaste(kg/person/day),Plasticwastegeneration(tonnes),Mismanagedwaste(percent),Mismanagedwaste2025(percent),Subregion,Region
0,Albania,ALB,2010,0.069,73364.0,0.0933,0.0913,Southern Europe,Europe
1,Algeria,DZA,2010,0.144,1898343.0,1.6347,1.4729,Northern Africa,Africa
2,Angola,AGO,2010,0.062,528843.0,0.1964,0.1980,Middle Africa,Africa
3,Anguilla,AIA,2010,0.252,NaN,0.0002,0.0001,Caribbean,Americas
4,Antigua and Barbuda,ATG,2010,0.660,22804.0,0.0039,0.0020,Caribbean,Americas
...,...,...,...,...,...,...,...,...,...
162,Uruguay,URY,2010,0.252,310379.0,0.0677,0.0116,South America,Americas
163,Vanuatu,VUT,2010,0.295,25443.0,0.0706,0.0550,Melanesia,Oceania
164,Venezuela,VEN,2010,0.252,2669998.0,0.3214,0.2233,South America,Americas
165,Vietnam,VNM,2010,0.103,3268227.0,5.7588,6.0407,South-eastern Asia,Asia
166,Yemen,YEM,2010,0.103,887497.0,0.5310,0.7440,Western Asia,Asia

In [123]:
# change the order of colomns
order=["Country", "Code", "Region", "Subregion", "Percapitaplasticwaste(kg/person/day)", "Plasticwastegeneration(tonnes)", "Mismanagedwaste(percent)", "Mismanagedwaste2025(percent)"]
allData=allData[order]

In [124]:
allData

,Country,Code,Region,Subregion,Percapitaplasticwaste(kg/person/day),Plasticwastegeneration(tonnes),Mismanagedwaste(percent),Mismanagedwaste2025(percent)
0,Albania,ALB,Europe,Southern Europe,0.069,73364.0,0.0933,0.0913
1,Algeria,DZA,Africa,Northern Africa,0.144,1898343.0,1.6347,1.4729
2,Angola,AGO,Africa,Middle Africa,0.062,528843.0,0.1964,0.1980
3,Anguilla,AIA,Americas,Caribbean,0.252,NaN,0.0002,0.0001
4,Antigua and Barbuda,ATG,Americas,Caribbean,0.660,22804.0,0.0039,0.0020
...,...,...,...,...,...,...,...,...
162,Uruguay,URY,Americas,South America,0.252,310379.0,0.0677,0.0116
163,Vanuatu,VUT,Oceania,Melanesia,0.295,25443.0,0.0706,0.0550
164,Venezuela,VEN,Americas,South America,0.252,2669998.0,0.3214,0.2233
165,Vietnam,VNM,Asia,South-eastern Asia,0.103,3268227.0,5.7588,6.0407
166,Yemen,YEM,Asia,Western Asia,0.103,887497.0,0.5310,0.7440

In [125]:
# save this merged data frame in CSV format
allData.to_csv('allData.csv',index=False)